
<div class="well patient-header">
  <h4 style="display: inline">
    <a routerLink="/patient-dashboard/patient/{{patient.id}}" target="_blank">
      {{patient.getPersonName()}}
    </a>
    <span class="fa fa-mars" style="color:dodgerblue"></span>
  </h4>
  <a href="{{ohifUtil.generateStudyUrl(study.uid)}}" target="_blank" style="float: right">View Study</a><br>
  <table class="info-display-table">
    <tr>
      <td><b>Status</b></td>
      <td *ngIf="report.status == 'preliminary'">
        <span class="glyphicon glyphicon-adjust" style="color: rgb(255,8,0)"></span>&nbsp; PRELIMINARY
      </td>
      <td *ngIf="report.status == 'partial'">
        <span class="glyphicon glyphicon-adjust" style="color: #eeb117"></span>&nbsp; PARTIAL
      </td>
      <td *ngIf="report.status == 'final'">
        <span class="glyphicon glyphicon-adjust" style="color: #07ff17"></span>&nbsp; FINAL
      </td>
    </tr>
    <tr>
      <td><b>Result Interpreter</b></td>
      <td>{{performer.getPersonName()}}</td>
    </tr>
    <tr>
      <td><b>Created</b></td>
      <td>{{report.issued | date: 'fullDate'}}</td>
    </tr>
  </table>
</div>

<app-report-editor [report]="report"></app-report-editor>
