<ul class="page-nav nav ">
  <li>
    <a routerLink="/" class="nav-link"><span class="glyphicon glyphicon-home"></span></a>
  </li>
  <li>
    <a class="nav-link"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </li>
  <li>
    <a routerLink="/reports" class="nav-link">Diagnostic Reports</a>
  </li>
  <li>
    <a class="nav-link"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </li>
  <li>
    <a class="nav-link">View</a>
  </li>
</ul>

<div class="well patient-header">
  <h4 style="display: inline">
    <a routerLink="/patient-dashboard/patient/{{patient.id}}" target="_blank">
      {{patient.getPersonName()}}
    </a>
    <ng-container *ngIf="patient.gender == 'male'; else female">
      <span class="fa fa-male" style="color:#198bff"></span>
    </ng-container>
    <ng-template #female>
      <span class="fa fa-female" style="color:#ff32d6"></span>
    </ng-template>
  </h4>

  <a href="{{ohifUtil.generateStudyUrl(study.uid)}}" target="_blank" style="float: right">View Study</a><br>

  <table class="report-display-table">
    <tr>
      <td><b>Status</b></td>
      <td *ngIf="report.status == 'preliminary'">
        <span class="glyphicon glyphicon-adjust" style="color: rgb(255,8,0)"></span>&nbsp; PRELIMINARY
      </td>
      <td *ngIf="report.status == 'partial'">
        <span class="glyphicon glyphicon-adjust" style="color: #eeb117"></span>&nbsp; PARTIAL
      </td>
      <td *ngIf="report.status == 'final'">
        <span class="glyphicon glyphicon-adjust" style="color: #07ff17"></span>&nbsp; FINAL
      </td>
    </tr>
    <tr>
      <td><b>Result Interpreter</b></td>
      <td>{{performer.getPersonName()}}</td>
    </tr>
    <tr>
      <td><b>Created</b></td>
      <td>{{report.issued | date: 'fullDate'}}</td>
    </tr>
  </table>
</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#pr">View Procedure Request</a>
      </h4>
    </div>
    <div id="pr" class="panel-collapse collapse">
      <div class="panel-body">
        <table class="info-display-table">
          <tr>
            <td>Body Site</td>
            <td>{{procedureRequest.bodySite[0].text}}</td>
          </tr>
          <tr>
            <td>Performer </td>
            <td>{{procedureRequest.performerName}}</td>
          </tr>
          <tr>
            <td>Modality</td>
            <td>{{procedureRequest.code.coding[0].code}}</td>
          </tr>
          <tr>
            <td>Priority</td>
            <td>{{procedureRequest.priority}}</td>
          </tr>
          <tr>
            <td>Intent</td>
            <td>{{procedureRequest.intent}}</td>
          </tr>
          <tr>
            <td>Status</td>
            <td>{{procedureRequest.status}}</td>
          </tr>
          <tr>
            <td>Scheduled Date</td>
            <td>{{procedureRequest.occurrenceDateTime | date:'fullDate'}}</td>
          </tr>
          <tr>
            <td>Requester</td>
            <td>{{procedureRequest.requesterName}}</td>
          </tr>
          <tr>
            <td>Perform Procedure</td>
            <td *ngIf="!procedureRequest.doNotPerform">
              <span class="glyphicon glyphicon-ok-circle" style="color: #07ff17"></span>
            </td>
            <td *ngIf="procedureRequest.doNotPerform">
              <span class="glyphicon glyphicon-ban-circle" style="color: #ff0800"></span>
            </td>
          </tr>
          <tr>
            <td>Notes</td>
            <td><span *ngIf="!procedureRequest.note">{{procedureRequest.note[0].text}}</span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<app-report-viewer [report]="report"></app-report-viewer>
