<ul class="page-nav nav">
  <li>
    <a routerLink="/" class="nav-link"><span class="glyphicon glyphicon-home"></span></a>
  </li>
  <li>
    <a class="nav-link"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </li>
  <li>
    <a routerLink="/orders" class="nav-link">Radiology Orders</a>
  </li>
  <li>
    <a class="nav-link"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </li>
  <li>
    <a class="nav-link">View</a>
  </li>
</ul>

<div class="well patient-header">
  <h4>{{procedureRequest.patientName}} <span class="fa fa-mars" style="color:dodgerblue"></span></h4>
  <p>1.73m tall &nbsp; 24y (Friday, October 10, 1924)</p>
  <p style="float: right"><b>Address.</b> Neque porro quisquam - Dolorem ipsum quia</p>
</div>

<app-procedure-request-detail [procedureRequest]="procedureRequest"></app-procedure-request-detail>

<ng-container *ngIf="report">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <ng-container *ngIf="report.status == 'partial' || report.status == 'preliminary'">
            <a routerLink="/report/edit/{{report.id}}">Resume work on report</a>
          </ng-container>
          <ng-container *ngIf="report.status == 'final'">
            <a routerLink="/report/{{report.id}}">View completed report</a>
          </ng-container>
        </h4>
      </div>
    </div>
  </div>
</ng-container>
