<form class="form-inline filter">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Patient"/>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Interpreter"/>
  </div>

  <div class="form-group"> &nbsp;
    <select class="form-control">
      <option selected> --Status-- </option>
      <option value="preliminary">Preliminary</option>
      <option value="partial">Partial</option>
      <option value="final">Final</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Filter</button>
</form>


<div class="table-responsive">
  <table class="table table-striped table-bordered table-condensed">
    <thead class="head">
    <tr>
      <th>S/N</th>
      <th>Patient</th>
      <th>Interpreter</th>
      <th>Status</th>
      <th>Created Date</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let report of reports" >
      <tr>
        <td>{{reports.indexOf(report)+1}}</td>
        <td><span>{{report.subject.reference}}</span></td>
        <td><span>{{report.performer[0].actor.reference}}</span></td>
        <td><span>{{report.status}}</span></td>
        <td><span>{{report.issued | date: 'fullDate'}}</span></td>
        <td>
          <a routerLink="/report/{{report.id}}">
            <span class="glyphicon glyphicon-eye-open"></span>
          </a>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>

<div *ngIf="reports.length < 1" class="well">
  <span>No previous Reports to display</span>
</div>

