<div>
  <a href class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm">Request for a new Procedure</a>
</div>

<form class="form-inline filter">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Performer"/>
  </div>

  <div class="form-group"> &nbsp;
    <select class="form-control">
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="others">Others</option>
    </select>
  </div>
  <div class="form-group"> &nbsp;
    <select class="form-control">
      <option selected> --Intent-- </option>
      <option value="proposal">Proposal</option>
      <option value="plan">Plan</option>
      <option value="order">Order</option>
    </select>
  </div>
  <div class="form-group"> &nbsp;
    <select class="form-control">
      <option selected> --Status-- </option>
      <option value="draft">Draft</option>
      <option value="active">Active</option>
      <option value="suspended">Suspended</option>
      <option value="completed">Completed</option>
      <option value="unknown">Unknown</option>
      <option value="cancelled">Cancelled</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Filter</button>
</form>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-condensed">
    <thead class="head">
    <tr>
      <th>S/N</th>
      <th>Patient</th>
      <th>Requester</th>
      <th>Performer</th>
      <th>Intent</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Perform</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let procedure of procedures">
      <td>{{procedures.indexOf(procedure)+1}}</td>
      <td><span *ngIf="procedure.patientName">{{procedure.patientName}}</span></td>
      <td><span *ngIf="procedure.requesterName">{{procedure.requesterName}}</span></td>
      <td><span *ngIf="procedure.performerName">{{procedure.performerName}}</span></td>
      <td><span *ngIf="procedure.intent">{{procedure.intent}}</span></td>
      <td><span *ngIf="procedure.status">{{procedure.status}}</span></td>
      <td><span *ngIf="procedure.priority">{{procedure.priority}}</span></td>
      <td><span *ngIf="procedure.doNotPerform">{{procedure.doNotPerform}}</span></td>
      <td>
        <a routerLink="/orders/{{procedure.id}}"><span class="glyphicon glyphicon-eye-open"></span></a>&nbsp;
        <a (click)="showModal('pr-'+procedures.indexOf(procedure))" data-toggle="modal" href><span class="glyphicon glyphicon-edit"></span></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="procedures.length < 1" class="well">
  <span>No previous orders to display</span>
</div>

<!-- Create a new Procedure Request -->
<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Create New Procedure Request</h4>
      </div>
      <div class="modal-body mx-3">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <app-add-procedure-request></app-add-procedure-request>
          </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
      </div>
    </div>
  </div>
</div>

<!-- Edit Procedure Request -->
<div *ngFor="let procedure of procedures">
  <div class="modal fade" id="{{'pr-'+procedures.indexOf(procedure)}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Edit Procedure Request for <b>{{procedure.patientName}}</b></h4>
        </div>
        <div class="modal-body mx-3">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <app-edit-procedure-request [theProcedureRequest]="procedure"></app-edit-procedure-request>
            </div><!-- /.col-lg-12 -->
          </div><!-- /.row -->
        </div>
      </div>
    </div>
  </div>
</div>
