body {
	color: #404040;
}

.btn {
	border-radius: 0px;
	border-color: transparent;	
}

.btn:hover, .btn:active, .btn:focus {
	border-color: transparent;
	opacity: 0.9;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover{
	color:#fff;
	background-color: #f78c44;
	border-color:transparent;
}

/* Drop down styles*/
.open>.dropdown-toggle.btn-primary,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover,
.study-dropdown {
	background-color: #fff;
	color: #040404;
}

.study-dropdown.dropdown-toggle {
	border-radius: 50%;
}

.dropdown-menu {
	min-width: auto;
}

.dropdown-menu>li>a {
	padding: 3px 10px;
}

.study-filter,
.study-filter:hover {
	color: #fff;
	background-color: #a545055e;
	border-radius: 25px;
}

.study-filter:active,
.study-filter:focus,
.study-filter:active:focus {
	color: #404040;
	background-color: #fff;
}

.primary-orange {
	background-color: #f78c44;
	color: #ffffff;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-control {
	border: none;
	border-bottom: 1px solid #f78c44;
	border-radius: 0px;
	padding: 10px;
	font-size: 16px;
}

.form-control:focus{
	border-bottom: 1px solid #f78c44;
	box-shadow: none;
}

/* unvisited link */
a:link {
	color: #f78c44;
}

/* mouse over link */
a:hover, a:visited, a:active {
	color: #f78c44;
	opacity: 0.9;
}

/*Styles for radiology tables*/
.rad-table-container {

}

.rad-table-header {
	background-color: #f78c44; 
	padding: 15px
}

.rad-table-header form {
	display: inline; 
	margin-left: 10px
}

.rad-table-header form .form-group {
	margin: 2px 3px
}

.rad-table-header form .form-control {
	border-radius: 15px
}

.rad-table {
	background-color: #f0f0f0;
}

.rad-table tbody {
	background-color: #fff;
}

.rad-table thead tr th {
	border-bottom: 2px solid transparent;
}

.rad-table tbody tr {
	border: 1px solid #f2f2f2;	
}

.rad-table tbody tr:hover {
	background-color: #f6f6f6;	
}

.rad-table tbody tr.collapse button {
	background-color: #e6e6e6;	
}

.rad-table tbody tr.collapse ul {
	list-style-type: none;
	padding: 0px;
}

/*End of radiology table styles*/

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 40px;
	background-color: #f5f5f5;
	padding: 10px 0px;
}

.footer p {
	float:right;
}
