<div class="text-center">
  <h1>Welcome to LibreHealth Radiology</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Suspendisse tincidunt scelerisque mauris, nec congue quam vehicula vitae.</p>
</div>

<br><br>
<div class="main-menu card-deck text-center">
  <div class="col-md-3" routerLink="/patient-registration">
    <div class="card">
      <img class="card-img-top" src="assets/images/favicon.png" alt="Card image cap">
      <div class="card-footer">
        <h4 class="text-muted">Patient Registration</h4>
      </div>
    </div>
  </div>
  <div class="col-md-3" routerLink="/orders">
    <div class="card">
      <img class="card-img-top" src="assets/images/favicon.png" alt="Card image cap">
      <div class="card-footer">
        <h4 class="text-muted">Orders</h4>
      </div>
    </div>
  </div>
  <div class="col-md-3" routerLink="/reading-list">
    <div class="card">
      <img class="card-img-top" src="assets/images/favicon.png" alt="Card image cap">
      <div class="card-footer">
        <h4 class="text-muted">Reading List</h4>
      </div>
    </div>
  </div>
  <div class="col-md-3" routerLink="/reports">
    <div class="card">
      <img class="card-img-top" src="assets/images/favicon.png" alt="Card image cap">
      <div class="card-footer">
        <h4 class="text-muted">Reporting</h4>
      </div>
    </div>
  </div>
</div>
