<ul class="page-nav nav navbar-nav">
  <li>
    <a routerLink="/" class="nav-link"><span class="glyphicon glyphicon-home"></span></a>
  </li>
  <li>
    <a class="nav-link"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </li>
  <li>
    <a routerLink="/patient-registration" class="nav-link">Patient Registration</a>
  </li>
  <li>
    <a class="nav-link"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </li>
  <li>
    <a class="nav-link">Patient Search</a>
  </li>
</ul>

<form>
  <div class="form-row">
    <div class="form-group col-md-10">
      <input (keyup)="getPatients()" type="text" name="q" [(ngModel)]="q" class="form-control" placeholder="search patient by name">
    </div>
    <div class="col-md-2">
      <button (click)="getPatients()" class="btn btn-primary">Search</button> <br/>
    </div>
  </div>
</form>
<table class="table table-striped table-bordered table-condensed">
  <thead>
  <tr>
    <th>S/N</th>
    <th>Identifier</th>
    <th>Name</th>
    <th>Gender</th>
    <th>BirthDate</th>
    <th>Active</th>
    <th>Address</th>
    <th>Deceased</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let patient of patients">
    <td>{{patients.indexOf(patient)+1}}</td>
    <td><span *ngIf="patient.identifier">{{patient.identifier[0].value}}</span></td>
    <td><span *ngIf="patient.name">{{patient.name[0].family}} {{patient.name[0].given[0]}}</span></td>
    <td><span *ngIf="patient.gender">{{patient.gender}}</span></td>
    <td><span *ngIf="patient.birthDate">{{patient.birthDate | date:'fullDate'}}</span></td>
    <td><span *ngIf="patient.active">{{patient.active}}</span></td>
    <td><span *ngIf="patient.address">{{patient.address[0].text}}</span></td>
    <td><span *ngIf="patient.deceasedBoolean">{{patient.deceasedBoolean}}</span></td>
    <td><a routerLink="/patient-dashboard/patient/{{patient.id}}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
  </tr>
  </tbody>
</table>

<div *ngIf="!patients" class="well">
  <span>No Patients to display</span>
</div>
