<ul class="page-nav nav navbar-nav">
  <li>
    <a routerLink="/" class="nav-link"><span class="glyphicon glyphicon-home"></span></a>
  </li>
  <li>
    <a class="nav-link"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </li>
  <li>
    <a class="nav-link">Patient Registration</a>
  </li>
</ul>

<div>
  <div class="registration-btn-group">
    <h2>Patient Registration</h2>
    <p>Search for existing patient or register a new patient</p>
    <button routerLink="/patient-registration/search" class="btn-primary btn-registration">Search</button>

    <button class="btn-primary btn-registration">Register</button>
  </div>
</div>

