<ul class="page-nav nav ">
  <li>
    <a routerLink="/" class="nav-link"><span class="glyphicon glyphicon-home"></span></a>
  </li>
  <li>
    <a class="nav-link"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </li>
  <li>
    <a routerLink="/patient-registration" class="nav-link">Patient Registration</a>
  </li>
  <li>
    <a class="nav-link"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </li>
  <li>
    <a routerLink="/patient-registration/search" class="nav-link">Patient Search</a>
  </li>
  <li>
    <a class="nav-link"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </li>
  <li>
    <a class="nav-link">{{patient.getPersonName()}}</a>
  </li>
</ul>

<div class="well patient-header">
  <h4>{{patient.getPersonName()}}
    <ng-container *ngIf="patient.gender == 'male'; else female">
      <span class="fa fa-male" style="color:#198bff"></span>
    </ng-container>
    <ng-template #female>
      <span class="fa fa-female" style="color:#ff32d6"></span>
    </ng-template>
  </h4>
  <p>1.73m tall &nbsp; 24y ({{patient.birthDate | date:'fullDate'}})</p>
  <p style="float: right"><b>Address.</b> Neque porro quisquam - Dolorem ipsum quia</p>
</div>

<div style="margin-top:15px;">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#order">Orders</a></li>
    <li><a data-toggle="tab" href="#study">Studies</a></li>
    <li><a data-toggle="tab" href="#report">Reports</a></li>
  </ul>

  <div class="container col-sm-12 tab-content">
    <div id="order" class="tab-pane fade in active"><br>
      <app-procedure-request [procedures]="procedures"></app-procedure-request>
    </div>
    <div id="study" class="tab-pane fade"><br>
      <app-imaging-study [studies]="studies"></app-imaging-study>
    </div>
    <div id="report" class="tab-pane fade"><br>
      <app-report [reports]="reports"></app-report>
    </div>
  </div>
</div>
