<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#pr">Procedure Request</a>
        <a href="#edit-pr" data-toggle="modal" style="float: right">
          <span class="glyphicon glyphicon-edit"></span>
        </a>
      </h4>
    </div>
    <div id="pr" class="panel-collapse collapse in">
      <div class="panel-body">
        <table class="info-display-table">
          <tr>
            <td>Body Site</td>
            <td>{{procedureRequest.bodySite[0].text}}</td>
          </tr>
          <tr>
            <td>Performer </td>
            <td>{{procedureRequest.performerName}}</td>
          </tr>
          <tr>
            <td>Modality</td>
            <td>{{procedureRequest.code.coding[0].code}}</td>
          </tr>
          <tr>
            <td>Priority</td>
            <td>{{procedureRequest.priority}}</td>
          </tr>
          <tr>
            <td>Intent</td>
            <td>{{procedureRequest.intent}}</td>
          </tr>
          <tr>
            <td>Status</td>
            <td>{{procedureRequest.status}}</td>
          </tr>
          <tr>
            <td>Scheduled Date</td>
            <td>{{procedureRequest.occurrenceDateTime | date:'fullDate'}}</td>
          </tr>
          <tr>
            <td>Requester</td>
            <td>{{procedureRequest.requesterName}}</td>
          </tr>
          <tr>
            <td>Perform Procedure</td>
            <td *ngIf="!procedureRequest.doNotPerform">
              <span class="glyphicon glyphicon-ok-circle" style="color: #07ff17"></span>
            </td>
            <td *ngIf="procedureRequest.doNotPerform">
              <span class="glyphicon glyphicon-ban-circle" style="color: #ff0800"></span>
            </td>
          </tr>
          <tr>
            <td>Notes</td>
            <td><span *ngIf="!procedureRequest.note">{{procedureRequest.note[0].text}}</span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>


<!--Edit the procedure request-->
<div class="modal fade" id="edit-pr" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Edit Procedure Request for <b>{{procedureRequest.patientName}}</b></h4>
      </div>
      <div class="modal-body mx-3">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <app-edit-procedure-request [theProcedureRequest]="procedureRequest"></app-edit-procedure-request>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
