<form class="form-horizontal" role="form" #newProcedureForm="ngForm"
      (submit)="onNewProcedureFormSubmit()">
  <fieldset>

    <!-- Patient -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Patient</label>
      <div class="col-sm-10">
        <input (keyup)="getPatientsByName(patnt.value)" #patnt="ngModel" [(ngModel)]="requestForm.patient"
               list="patient-list" placeholder="Patient" name="patient" class="form-control" autocomplete="off" required>

        <datalist id="patient-list">
          <option *ngFor="let patient of patients" value="{{patient.id}}">
            {{patient.getPersonName()}}
          </option>
        </datalist>

        <!--Error message-->
        <div *ngIf="patnt.invalid && (patnt.dirty || patnt.touched)"
             class="text-danger">
          <span *ngIf="patnt.errors.required">This field is required</span>
        </div>
      </div>
    </div>

    <!-- Body Site field-->
    <div class="form-group">
      <label class="col-sm-2 control-label">Body Site</label>
      <div class="col-sm-10">
        <input type="text" placeholder="Body Site" name="body-site" class="form-control"
               [(ngModel)]="requestForm.bodySite" #bodySite="ngModel" required>

        <!--Error message-->
        <div *ngIf="bodySite.invalid && (bodySite.dirty || bodySite.touched)"
             class="text-danger">
          <span *ngIf="bodySite.errors.required">This field is required</span>
        </div>
      </div>
    </div>

    <!-- Performer -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Performer</label>
      <div class="col-sm-10">
        <input (keyup)="getPractitionersByName(pfrm.value)" #pfrm="ngModel"
               [(ngModel)]="requestForm.performer" list="performer-list"
               placeholder="Performer" name="performer" class="form-control" autocomplete="off" required>

        <datalist id="performer-list">
          <option *ngFor="let performer of practitioners" value="{{performer.id}}">
            {{performer.getPersonName()}}
          </option>
        </datalist>

        <!--Error message-->
        <div *ngIf="pfrm.invalid && (pfrm.dirty || pfrm.touched)"
             class="text-danger">
          <span *ngIf="pfrm.errors.required">This field is required</span>
        </div>
      </div>
    </div>

    <div class="form-group">

      <!-- Priority-->
      <label class="col-sm-2 control-label">Priority</label>
      <div class="col-sm-4">
        <select class="form-control" name="priority" #priority="ngModel" [(ngModel)]="requestForm.priority" required>
          <option value="routine" selected>Routine</option>
          <option value="urgent">Urgent</option>
          <option value="asap">ASAP</option>
          <option value="stat">STAT</option>
        </select>

        <!--Error message-->
        <div *ngIf="priority.invalid && (priority.dirty || priority.touched)"
             class="text-danger">
          <span *ngIf="priority.errors.required">This field is required</span>
        </div>
      </div>

      <!-- Intent -->
      <label class="col-sm-2 control-label">Intent</label>
      <div class="col-sm-4">
        <select class="form-control" name="intent" #intent="ngModel" [(ngModel)]="requestForm.intent" required>
          <option value="proposal" selected>Proposal</option>
          <option value="plan">Plan</option>
          <option value="order">Order</option>
        </select>

        <!--Error message-->
        <div *ngIf="intent.invalid && (intent.dirty || intent.touched)"
             class="text-danger">
          <span *ngIf="intent.errors.required">This field is required</span>
        </div>
      </div>
    </div>

    <div class="form-group">

      <!-- Modality -->
      <label class="col-sm-2 control-label">Modality</label>
      <div class="col-sm-4">
        <select class="form-control" name="modality" #modality="ngModel" [(ngModel)]="requestForm.modality" required>
          <option value="AS">Angioscopy</option>
          <option value="BS">Biomagnetic imaging</option>
          <option value="CD">Color flow Doppler</option>
          <option value="CP">Colposcopy</option>
          <option value="CR">Computed radiography</option>
          <option value="CS">Cystoscopy</option>
          <option value="CT">Computed tomography</option>
          <option value="DD">Duplex Doppler</option>
          <option value="DG">Diapanography</option>
          <option value="DM">Digital microscopy</option>
          <option value="EC">Echocardiography</option>
          <option value="ES">Endoscopy</option>
          <option value="FA">Fluorescein angiography</option>
          <option value="FS">Fundoscopy</option>
          <option value="LP">Laparoscopy</option>
          <option value="LS">Laser surface scan</option>
          <option value="MA">Magnetic resonance angiography</option>
          <option value="MS">Magnetic resonance spectroscopy</option>
          <option value="NM">Nuclear Medicine (radioisotope study)</option>
          <option value="OT">Other</option>
          <option value="PT">Positron emission tomography (PET)</option>
          <option value="RF">Radio fluoroscopy</option>
          <option value="ST">Single photon emission computed tomography (SPECT)</option>
          <option value="TG">Thermography</option>
          <option value="US">Ultrasound</option>
          <option value="XA">X-ray Angiography</option>
        </select>

        <!--Error message-->
        <div *ngIf="modality.invalid && (modality.dirty || modality.touched)"
             class="text-danger">
          <span *ngIf="modality.errors.required">This field is required</span>
        </div>
      </div>
    </div>

    <!-- Scheduled Date -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Scheduled Date</label>
      <div class="col-sm-10">
        <input type="date" name="occurrence-date-time" class="form-control" #occurence="ngModel"
               [(ngModel)]="requestForm.occurrenceDate" required>

        <!--Error message-->
        <div *ngIf="occurence.invalid && (occurence.dirty || occurence.touched)"
             class="text-danger">
          <span *ngIf="occurence.errors.required">This field is required</span>
        </div>
      </div>
    </div>

    <!-- Note -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Note</label>
      <div class="col-sm-10">
        <textarea placeholder="Additional Information" name="note" class="form-control" [(ngModel)]="requestForm.note"></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="pull-right">
          <button type="button" class="btn" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" [disabled]="!newProcedureForm.form.valid">Save</button>
        </div>
      </div>
    </div>

  </fieldset>
</form>
