<ul class="page-nav nav ">
  <li>
    <a routerLink="/" class="nav-link"><span class="glyphicon glyphicon-home"></span></a>
  </li>
  <li>
    <a class="nav-link"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </li>
  <li>
    <a class="nav-link">Radiology Orders</a>
  </li>
</ul>

<app-procedure-request [procedures]="procedures"></app-procedure-request>
