
<form>
  <ng-container *ngIf="report.status == 'final'">
    <editor [(ngModel)]="reportText" [init]="{height: 350, readonly: 1}" name="report-text"
            apikey="ajv0qq1z40j464oqjhs69ytpn3fhmqyr1a1efa75k21w9gb1"></editor>
  </ng-container>
  <ng-container *ngIf="report.status != 'final'">
    <editor [(ngModel)]="reportText" [init]="{height: 350}" name="report-text"
            apikey="ajv0qq1z40j464oqjhs69ytpn3fhmqyr1a1efa75k21w9gb1"></editor>
  </ng-container>
  <br>

  <button type="button" class="btn btn-primary" (click)="saveDraftReport()">Save Draft</button>
  <button type="button" class="btn btn-primary" (click)="saveCompletedReport()">Complete</button>
</form>



