<ul class="page-nav nav ">
  <li>
    <a routerLink="/" class="nav-link"><span class="glyphicon glyphicon-home"></span></a>
  </li>
  <li>
    <a class="nav-link"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </li>
  <li>
    <a class="nav-link">Reading List</a>
  </li>
</ul>

<app-imaging-study [studies]="studies"></app-imaging-study>
