<ng-container *ngIf="report.status == 'preliminary'">
  <div align="center">
    <span class="alert alert-danger">
      This report has not yet been started! <a routerLink="/report/edit/{{report.id}}">click here</a> to start reporting
    </span>
  </div>
</ng-container>

<ng-container *ngIf="report.status == 'partial'">
    <button routerLink="/report/edit/{{report.id}}" class="btn btn-primary">Resume work on this report</button>
</ng-container>

<ng-container *ngIf="report.status != 'preliminary'">
  <a (click)="exportPDF()" class="btn btn-primary" style="float: right">Export PDF</a>
</ng-container>
<br><br>

<ng-container *ngIf="report.codedDiagnosis">
  <div  id="report" style="border: 1px solid #98989b;">
    <div style=" padding: 30px">
      <editor [(ngModel)]="report.codedDiagnosis[0].text" [init]="{readonly: 1, height: 350, inline: true}" name="report-text"
              apikey="ajv0qq1z40j464oqjhs69ytpn3fhmqyr1a1efa75k21w9gb1"></editor>
    </div>
  </div>
</ng-container>

