
<form class="form-inline filter">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Patient"/>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Referrer"/>
  </div>

  <div class="form-group"> &nbsp;
    <select class="form-control">
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="others">Others</option>
    </select>
  </div>
  <div class="form-group"> &nbsp;
    <select class="form-control">
      <option selected> --Intent-- </option>
      <option value="proposal">Proposal</option>
      <option value="plan">Plan</option>
      <option value="order">Order</option>
    </select>
  </div>
  <div class="form-group"> &nbsp;
    <select class="form-control">
      <option selected> --Status-- </option>
      <option value="draft">Draft</option>
      <option value="active">Active</option>
      <option value="suspended">Suspended</option>
      <option value="completed">Completed</option>
      <option value="unknown">Unknown</option>
      <option value="cancelled">Cancelled</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Filter</button>
</form>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-condensed">
    <thead class="head">
    <tr>
      <th>S/N</th>
      <th>Patient</th>
      <th>Referrer</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Site</th>
      <th>Modality</th>
      <th>Study Date</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let study of studies" >
      <tr>
        <td>{{studies.indexOf(study)+1}}</td>
        <td><span *ngIf="study.patientName">{{study.patientName}}</span></td>
        <td><span *ngIf="study.referrerName">{{study.referrerName}}</span></td>
        <td><span *ngIf="study.procedureRequest.status">{{study.procedureRequest.status}}</span></td>
        <td><span *ngIf="study.procedureRequest.priority">{{study.procedureRequest.priority}}</span></td>
        <td><span></span></td>
        <td><span></span></td>
        <td><span *ngIf="study.procedureRequest.occurrenceDateTime">{{study.procedureRequest.occurrenceDateTime | date: 'fullDate'}}</span></td>
        <td>
          <a (click)="showModal('study-detail-'+studies.indexOf(study))" data-toggle="modal" href>
            <span class="glyphicon glyphicon-eye-open"></span>
          </a>&nbsp;
          <ng-container *ngIf="study.procedureRequest.status == 'active'">
            <a (click)="claimStudy(study.id)">claim</a>
          </ng-container>
        </td>

        <!-- Create a new Procedure Request -->
        <div  class="modal fade" id="study-detail-{{studies.indexOf(study)}}">
          <div class="modal-dialog" role="document" style="width: 90%">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" (click)="closeModal('study-detail-'+studies.indexOf(study))">&times;</button>
              </div>
              <div class="modal-body mx-3">
                <div class="row">
                  <div>
                    <app-imaging-study-detail
                      [url]="sanitizer.bypassSecurityTrustResourceUrl(ohifUtil.generateStudyUrl(study.uid))"></app-imaging-study-detail>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>

<div *ngIf="studies.length < 1" class="well">
  <span>No previous Studies to display</span>
</div>
